:root,
body,
html {
  --background-1: #1b230892;
  --background-2: #242114a7;
  --background-2-light: #292d1e71;

  --background-3: #2b261780;
  --background-3-light: #423b1b5f;

  --foreground-1: #fcfcf7;
  --foreground-2: #fcf0dc;

  color: var(--foreground-1);
  font-family: "Kalnia", serif;
  font-size: 1.07em;

  margin: 0;
  padding-bottom: 10px;
  min-height: 100vh;
  overflow-x: hidden;

  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-1);
  z-index: -1;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  filter: blur(3px);
}

.title {
  color: var(--foreground-2);
  margin: 0;
  padding: 20px;
  text-align: center;
  text-shadow: 5px 5px 3px #000b;
}

.title span {
  font-style: italic;
}

.entry {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #333;
  padding: 10px;
  margin: 50px 10px;

  background-color: var(--background-2);
  border-radius: 8px;
  overflow: hidden;
  /* cursor: pointer; */
  transition:
    background 0.3s ease,
    border 0.3s ease;
}

.entry p {
  line-height: 1.8;
  font-family: "Source Serif 4", serif;
  margin: 1rem 2rem;
  text-overflow: ellipsis;
  text-indent: 40px;
}

.entry h2 {
  color: var(--foreground-2);
  margin: 0;
  border-bottom: 1px solid #555;
  margin-bottom: -5px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
}

.entry span {
  all: unset;
  color: #e3f7d8;
  /* text-shadow: 0 0 10px #ffffcc4d; */
  text-decoration: underline;
  transition: text-shadow 0.2s ease;
}

.entry span:hover {
  text-shadow: 0 0 10px #ffffccb3;
}

.entry span p {
  line-height: unset;
  text-indent: 0;
  margin: 10px inherit;
  padding-left: 40px;
}

.entry a {
  all: unset;
  color: #dce2f5;
  text-decoration: underline;
  transition: text-shadow 0.2s ease;
  cursor: pointer;
}
.entry a:hover {
  text-shadow: 0 0 10px #f3f2e69a;
}

/* .quote { */
/*   font-weight: bold; */
/*   backdrop-filter: blur(10px); */
/*   -webkit-backdrop-filter: blur(10px); */
/*   border: 1px solid #4d664d; */
/*   padding: 10px 15px; */
/*   margin: 100px 0; */
/**/
/*   background-color: var(--background-3); */
/*   border-radius: 8px; */
/*   width: fit-content; */
/*   transition: */
/*     background 0.3s ease, */
/*     border 0.3s ease; */
/* } */
/**/
/* #right .quote { */
/*   margin-left: 40px; */
/*   margin-right: 20px; */
/* } */
/**/
/* #left .quote { */
/*   margin-right: 40px; */
/*   margin-left: 20px; */
/* } */

/* .quote:hover { */
/*   border: 1px solid #4d4d4d; */
/*   background: var(--background-3-light); */
/* } */

#content {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

#left {
  width: calc(50% - 6px);
  padding: 20px;
}

#right {
  width: calc(50% - 6px);
  padding: 20px;
}

#timeline {
  width: 10px;
  height: auto;
  border-radius: 999px;
  border: 2px solid #67aa8a88;
}

#pages > div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 10px;
  background: #bd9658e2;
  border-radius: 999px;
}

#source-link {
  color: white;
  text-align: center;
  display: block;
}

#p5 {
  top: 50px;
}

#p6 {
  top: 80px;
}

#p8 {
  top: 120px;
}

#p9 {
  top: 150px;
}

#p111 {
  top: 2500px;
}

.quote:target {
  animation-name: ref-animation;
  animation-duration: 1.5s;
}
@keyframes ref-animation {
  from {
    background-color: #ffffcc55;
    text-shadow: 0 0 10px #fff;
  }
  to {
    background-color: var(--background-3);
    text-shadow: none;
  }
}

iframe {
  border-radius: 8px;
  margin: 8px;
  width: calc(100% - 16px);
  height: 550px;
}

.reference {
  padding: 10px 15px;
  margin: 10px 0;
  align-items: center;
}

.reference img {
  border-radius: 8px;
  width: 90%;
  margin: auto;
  display: block;
}

.reference p {
  text-align: right;
  margin: 0;
  font-size: 16px;
}

.entry:first-of-type {
  margin-top: 0;
}

.entry:last-of-type {
  margin-bottom: 0;
}
